.navbar-brand img {
    height: 80px;
}

.nav-link {
    color: black;

}

.mar-b {
    margin-bottom: 5em;
}

.mar-y {
    margin-top: 10em;
    margin-bottom: 5em;
}

.subtitlu {
    font-style: italic;
    text-align: center;
    color: rgb(236, 146, 67);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;

    font-weight: bold;


}

.minititlu {
    text-align: center;
    font-family: "CoLucida Console", Monospace;
    letter-spacing: 5px;
    font-size: 10px;

}

.minititlu p {
    text-align: center;
    font-family: "CoLucida Console", Monospace;
    letter-spacing: 5px;
    font-size: 20px;
}

p {
    margin-left: 2em;
}

.row {
    margin-top: 100px;

}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

.continut {

    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    text-align: justify;
}

.continut1 h4 {
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    text-align: justify;
    font-weight: bold;
    text-align: center;
    color:rgb(236, 146, 67);
}

.carousel-item .ratio img {
    object-fit: cover;
    width: 500px;
}

.titlu-carusel {
    background-color: white;
    opacity: 0.8;
    color: black;
    font-family: "Lucida Console", "Courier New", monospace;

}

.title {
    margin: 0 60px 50px 40px;

    background-color: white;
    opacity: 0.7;
    text-align: center;
    font-family: "CoLucida Console", Monospace;
    letter-spacing: 5px;
}

.corect img {

    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 5em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-expand-lg .navbar-collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
}

.carousel-item .ratio img {
    object-fit: cover;
}


.text {
    color: white;
}
.responsive img{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50% 20% / 10% 40%;
    object-fit:cover;
    margin-bottom:5em;
  }